<div class="center jumbotron">

  <% provide(:title, "Home") %>

  <h1>Welcome to Chirper</h1>
  <h2>This is a homepage of Chirper</h2>

  <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
  <p>Find me in app/views/static_pages/help.html.erb</p>
  <p>
    First one not-out-of-the-box
  </p>
</div>

<%= link_to image_tag("rails-logo.svg", alt: "Rails logo"), 'http://rubyonrails.org' %>
