<%= provide(:title, "All Users") %>
<h1>Users</h1>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<ul class="users">
  <% @users.each do |foofoo| %>
    <%= render foofoo %>
  <% end %>
</ul>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
